.form-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 100vw;
    padding: 1em;
    gap: .4em;
    align-items: center;
}

.form-input{
    padding: .6em;
    width: 45%;
}